<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - WoW Freedom Mini-manager</title>
    <link rel="stylesheet" href="~/css/bundle.css" />
    @RenderSection("stylesheets", required: false)
    <script src="~/js/modernizr" ></script>
</head>
<body class="d-flex flex-column">
    <partial name="_TopNav"></partial>
    <div class="flex-grow-1">
        <div class="row h-100 me-0">
            <div class="col-md-3">
                <partial name="_SideBarNav"></partial>
            </div>
            <div class="col-md-9">
                <partial name="_Alerts"></partial>
                <div class="py-3">
                    <h3>@ViewBag.Title</h3>
                </div>
                @RenderBody()
               <div class="mb-3"></div>
            </div>
        </div>                            
    </div>

    <partial name="_Footer"></partial>

    <script src="~/js/jquery"></script>
    <script src="~/js/bootstrap"></script>
    <script src="~/js/dataTables"></script>
    <script src="~/js/freedom"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
