@{
    Layout = null;
}
<div class="d-flex flex-column flex-shrink-0 p-3 h-100 text-bg-dark">
    <div class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-muted text-decoration-none">
        @if (User.Identity.IsAuthenticated)
        {
        <strong>Welcome back, @User.Identity.Name!</strong>
        }else
        {
        <strong>Hello, visitor!</strong>
        }
    </div>
    <hr>
    <div class="nav nav-pills flex-column mb-auto">
        @if (!User.Identity.IsAuthenticated) {
        <a class="nav-link text-white" href="@Url.Action("Login", "Account")">
            <i class="fa fa-sign-in pe-2"></i> Login
        </a>
        <a class="nav-link text-white" href="@Url.Action("Register", "Account")">
            <i class="fa fa-user-plus pe-2"></i> Register
        </a>
        }
        <a class="nav-link text-white" href="@Url.Action("Status", "Home")"><i class="fa fa-bar-chart pe-2"></i> Status</a>
        @if (User.Identity.IsAuthenticated)
        {
            <a href="#collapseAccount" class="nav-link text-white collapsed" data-bs-toggle="collapse" aria-expanded="false" aria-controls="collapseAccount">
                <i class="fa fa-user pe-2"></i>
                Account Management
                <i class="fa fa-angle-down pull-right"></i>
            </a>
            <div class="collapse" id="collapseAccount">
                <div class="ps-4">
                    <a class="nav-link text-white" href="@Url.Action("ShowProfile", "Account")">
                        <i class="fa fa-user pe-2"></i> My profile
                    </a>
                    <a class="nav-link text-white" href="@Url.Action("ChangeDisplayName", "Account")">
                        <i class="fa fa-edit pe-2"></i> Change display name
                    </a>
                    <a class="nav-link text-white" href="@Url.Action("ChangePassword", "Account")">
                        <i class="fa fa-edit pe-2"></i> Change password
                    </a>
                    <a class="nav-link text-white" href="@Url.Action("ChangeEmail", "Account")">
                        <i class="fa fa-edit pe-2"></i> Change email
                    </a>
                    <a class="nav-link text-white" href="@Url.Action("CharacterTransfer", "Character")">
                        <i class="fa fa-upload pe-2"></i> Character transfer
                    </a>
                </div>
            </div>
            <a href="#collapseServerData" class="nav-link text-white collapsed" data-bs-toggle="collapse" aria-expanded="false" aria-controls="collapseServerData">
                <i class="fa fa-database pe-2"></i>
                Server Data
                <i class="fa fa-angle-down pull-right"></i>
            </a>
            <div class="collapse" id="collapseServerData">
                <div class="ps-4">
                    <a class="nav-link text-white" href="@Url.Action("CommandList", "Server")">
                        <i class="fa fa-search pe-2"></i> In-Game Commands
                    </a>
                    <a class="nav-link text-white" href="@Url.Action("NpcItemData", "Item")">
                        <i class="fa fa-search pe-2"></i> Npc Items
                    </a>
                    <a class="nav-link text-white" href="@Url.Action("BonusIdInfo", "Item")">
                        <i class="fa fa-search pe-2"></i> Item Appearance BonusIds
                    </a>
                </div>
            </div>
            if (User.IsInRole(FreedomLogic.Identity.FreedomRole.RoleAdmin) || (User.IsInRole(FreedomLogic.Identity.FreedomRole.RoleGM)))
            {
                <a href="#collapseToolsControl" class="nav-link text-white collapsed" data-bs-toggle="collapse" aria-expanded="false" aria-controls="collapseToolsControl">
                    <i class="fa fa-wrench pe-2"></i>
                    Tools
                    <i class="fa fa-angle-down pull-right"></i>
                </a>
                <div class="collapse" id="collapseToolsControl">
                    <div class="ps-4">
                        <a class="nav-link text-white" href="@Url.Action("CustomItem", "Tools")">
                            <i class="fa fa-pie-chart pe-2"></i> Custom Item Preview
                        </a>
                    </div>
                </div>
            }
            if (User.IsInRole(FreedomLogic.Identity.FreedomRole.RoleAdmin))
            {
                <a href="#collapseServerControl" class="nav-link text-white collapsed" data-bs-toggle="collapse" aria-expanded="false" aria-controls="collapseServerControl">
                    <i class="fa fa-flag pe-2"></i>
                    Administration
                    <i class="fa fa-angle-down pull-right"></i>
                </a>
                <div class="collapse" id="collapseServerControl">
                    <div class="ps-4">
                        <a class="nav-link text-white" href="@Url.Action("Index", "Admin")">
                            <i class="fa fa-pie-chart pe-2"></i> Admin Overview
                        </a>
                        <a class="nav-link text-white" href="@Url.Action("UserList", "Admin")">
                            <i class="fa fa-users pe-2"></i> User Accounts
                        </a>
                        <a class="nav-link text-white" href="@Url.Action("ServerControl", "Admin")">
                            <i class="fa fa-gears pe-2"></i> WoW Server Control
                        </a>
                        <a class="nav-link text-white" href="@Url.Action("DBOGServerControl", "Admin")">
                            <i class="fa fa-gears pe-2"></i> DBOG Server Control
                        </a>
                    </div>
                </div>
            }
            <hr />
            <a class="nav-link text-white" href="@Url.Action("Logout", "Account")">
                <i class="fa fa-sign-out pe-2"></i> Logout (@User.Identity.Name)
            </a>
        }
    </div>
</div>