@{
    Layout = null;
}
@using FreedomLogic.Infrastructure
@inject AppConfiguration appConfig;
<div class="container-fluid bg-dark bg-gradient">
    <header class="d-flex flex-wrap justify-content-center py-3 border-bottom border-dark">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <span class="fs-4 text-white">WoW Freedom Minimanager</span>
        </a>

        <ul class="nav nav-pills">

            <li>@Html.ActionLink("Home", "Index", "Home", null, new { @class= "nav-link text-white"})</li>
            <li class="nav-item"><a href="@appConfig.Links.ForumUrl" class="nav-link text-white">Forums</a></li>
            <li class="nav-item"><a href="@appConfig.Links.WikiUrl" class="nav-link text-white">Wiki</a></li>
            <li>@Html.ActionLink("Status", "Status", "Home", null, new { @class= "nav-link text-white"})</li>
            <li class="nav-item"><a href="@appConfig.Links.ConnectionGuideUrl" class="nav-link text-white">Connecting</a></li>
        </ul>
    </header>
</div>
