@model FreedomWeb.ViewModels.Accounts.ForgotPasswordViewModel
@{
    ViewBag.Title = "Password reset";
}


<div class="row">
    <div class="col-md-6">
        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @id = "FormForgotPassword" }))
        {
            <partial name="_CustomValidationSummary" model="ViewData.ModelState"></partial>
            @Html.AntiForgeryToken()
            <div class="form-group mb-3">
                @Html.LabelFor(m => m.Username, htmlAttributes: new { @class = "form-label" })
                <div class="input-group">
                    @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group mb-3">
                @Html.LabelFor(m => m.Email, htmlAttributes: new { @class = "form-label" })
                <div class="input-group">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                </div>
            </div>
            <button type="submit" class="btn btn-dark">Submit</button>
        }
    </div>
    <div class="col-md-6">
            <h4 class="p-2 bg-dark mb-0 rounded-top text-white">
                <i class="fa fa-info-circle"></i>
                Password reset help
            </h4>
            <div class="p-3 bg-secondary text-dark rounded-bottom" style="--bs-bg-opacity: 0.2">
                <p>
                    Enter and submit your registered email and username.
                </p>
                <p>
                    Password reset link will be sent to the entered email, which will be valid for use for <u>5 minutes</u>.
                </p>
                <p>
                    Be sure to check the spam folder if email still hasn't arrived,
                    in worst case - contact developers or the staff about having problems with password recovery on the
                    <a class="text-dark" href="http://w11.zetaboards.com/WoW_Freedom/index/">WoW Freedom Forums &raquo;</a>
                </p>
            </div>
    </div>
</div>