@model FreedomWeb.ViewModels.Accounts.ForgotPasswordViewModel
@{
    ViewBag.Title = "Password reset";
}

@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @id = "FormForgotPassword" }))
{
    <partial name="_CustomValidationSummary" model="ViewData.ModelState"></partial>
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <i class="fa fa-info-circle"></i>
                    <span>Password reset help</span>
                </div>
                <div class="panel-body">
                    <ol>
                        <li>
                            Enter and submit your registered email and username.
                        </li>
                        <li>
                            Password reset link will be sent to the entered email, which will be valid for use for <u>5 minutes</u>.
                        </li>
                        <li>
                            Be sure to check the spam folder if email still hasn't arrived,
                            in worst case - contact developers or the staff about having problems with password recovery on the
                            <a href="http://w11.zetaboards.com/WoW_Freedom/index/">WoW Freedom Forums &raquo;</a>
                        </li>
                    </ol>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Username)
                @Html.TextBoxFor(m => m.Username, new { @class = "form-control input-wide" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Email)
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control input-wide" })
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </div>
    </div>
}