@model FreedomWeb.ViewModels.Accounts.LoginViewModel
@{
    ViewBag.Title = "Login";
}
@using FreedomLogic.Infrastructure
@inject AppConfiguration appConfig
@using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @id = "FormLogin" }))
{
    <partial name="_CustomValidationSummary" model="ViewData.ModelState"></partial>
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.ReturnUrl)
    <div class="row">
        <!--INPUT FIELDS-->
        <div class="col-md-6">
            <div class="form-group mb-3">
                @Html.LabelFor(m => m.Username, htmlAttributes: new { @class = "form-label" })
                <div class="input-group">
                    @Html.TextBoxFor(m => m.Username, new { @class = "form-control input-full" })
                    <span class="input-group-text">@@freedom.com</span>
                </div>
            </div>
            <div class="form-group mb-3">
                @Html.LabelFor(m => m.Password, htmlAttributes: new { @class = "form-label" })
                @Html.PasswordFor(m => m.Password, new { @class = "form-control input-full" })
            </div>
            <div class="form-check mb-3">
                @Html.CheckBoxFor(m => m.RememberMe, new {@class = "form-check-input"})
                @Html.LabelFor(m => m.RememberMe, htmlAttributes: new { @class = "form-check-label" })
            </div>
            <button type="submit" class="btn btn-dark">Submit</button>
        </div>
        <!--HELP TEXT-->
        <div class="col-md-6">
            <h4 class="p-2 bg-dark mb-0 rounded-top text-white">
                <i class="fa fa-info-circle me-1"></i>
                Login help
            </h4>
            <div class="p-3 bg-secondary text-dark rounded-bottom" style="--bs-bg-opacity: 0.2">
                <p>Note: You do not need to add "@@freedom.com" to your username here. It is added automatically for you.</p>
                <p><a class="text-dark" href="@Url.Action("ForgotPassword", "Account")">Forgot your password? Click here &raquo;</a></p>
                <p>
                    If you have further login problems, then contact the developers or the staff on the
                    <a class="text-dark" href="@appConfig.Links.ForumUrl">WoW Freedom Forums &raquo;</a>
                </p>
            </div>
        </div>
    </div>
}
