@model FreedomWeb.ViewModels.Accounts.RegisterViewModel
@{
    ViewBag.Title = "Register";
}
@using FreedomLogic.Infrastructure
@inject AppConfiguration appConfig
@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @id = "FormRegister" }))
{
    <partial name="_CustomValidationSummary" model="ViewData.ModelState"></partial>
    @Html.AntiForgeryToken()
    <div class="row">
        <!--INPUT FIELDS-->
        <div class="col-md-6">
            <div class="form-group mb-3">
                @Html.LabelFor(m => m.Username, htmlAttributes: new { @class = "form-label" })
                <div class="input-group">
                    @Html.TextBoxFor(m => m.Username, new { @class = "form-control input-full" })
                    <span class="input-group-text">@@freedom.com</span>
                </div>
            </div>
            <div class="form-group mb-3">
                @Html.LabelFor(m => m.DisplayName, htmlAttributes: new { @class = "form-label" })
                @Html.TextBoxFor(m => m.DisplayName, new { @class = "form-control input-full" })
            </div>
            <div class="form-group mb-3">
                @Html.LabelFor(m => m.RegEmail, htmlAttributes: new { @class = "form-label" })
                @Html.TextBoxFor(m => m.RegEmail, new { @class = "form-control input-full" })
            </div>
            <div class="form-group mb-3">
                @Html.LabelFor(m => m.Password, htmlAttributes: new { @class = "form-label" })
                @Html.PasswordFor(m => m.Password, new { @class = "form-control input-full" })
            </div>
            <div class="form-group mb-3">
                @Html.LabelFor(m => m.RepeatPassword, htmlAttributes: new { @class = "form-label" })
                @Html.PasswordFor(m => m.RepeatPassword, new { @class = "form-control input-full" })
            </div>
            <button type="submit" class="btn btn-dark">Register</button>
        </div>
        <!--HELP TEXT-->
        <div class="col-md-6">
            <h4 class="p-2 bg-dark mb-0 rounded-top text-white">
                <i class="fa fa-info-circle"></i>
                Register help
            </h4>
            <div class="p-3 bg-secondary text-dark rounded-bottom" style="--bs-bg-opacity: 0.2">
                <p>
                    <b>Username</b> will be used to login both on this website and the game client.
                    When logging in through the game client, your username will be in the form of "yourusername@freedom.com".
                    For the website your username does not need the "@@freedom.com" bit (it's added automatically).
                    <u>Your username cannot be changed later on!</u>
                </p>
                <p>
                    <b>Display name</b> will be used as your identity on the website for the public instead of your username.
                    Only the administration team will be able to see your username on the website.
                </p>
                <p>
                    <b>Email address</b> will be used for password recovery.
                </p>
                <p>
                    <b>Password</b> must be at least 8 characters long.
                </p>
                <p>
                    If you have any registration problems, then contact the developers or the staff on the
                    <a class="text-dark" href="@appConfig.Links.ForumUrl">WoW Freedom Forums &raquo;</a>
                </p>
            </div>
        </div>
    </div>
}
