@model FreedomWeb.ViewModels.Accounts.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset password";
}

<div class="row">
    <div class="col-md-6">
        @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @id = "FormResetPassword" }))
        {
            <partial name="_CustomValidationSummary" model="ViewData.ModelState"></partial>
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.UserId)
            @Html.HiddenFor(model => model.ResetToken)
            <div class="form-group mb-3">
                @Html.LabelFor(m => m.NewPassword, htmlAttributes: new { @class = "form-label" })
                <div class="input-group">
                    @Html.TextBoxFor(m => m.NewPassword, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group mb-3">
                @Html.LabelFor(m => m.RepeatPassword, htmlAttributes: new { @class = "form-label" })
                <div class="input-group">
                    @Html.TextBoxFor(m => m.RepeatPassword, new { @class = "form-control" })
                </div>
            </div>
            <button type="submit" class="btn btn-dark">Submit</button>
        }
    </div>
    <div class="col-md-6">
        <h4 class="p-2 bg-dark mb-0 rounded-top text-white">
            <i class="fa fa-info-circle me-1"></i>
            Reset password help
        </h4>
        <div class="p-3 bg-secondary text-dark rounded-bottom" style="--bs-bg-opacity: 0.2">
            <p><b>New password</b> must be at least 8 characters long.</p>
        </div>
    </div>
</div>