@using System.Security.Claims;
@model FreedomWeb.ViewModels.Accounts.ProfileViewModel
@{
    ViewBag.Title = Model.DisplayName + "'s profile";
    bool viewSensittive = (User.FindFirstValue(ClaimTypes.NameIdentifier) == Model.UserId.ToString()) || User.IsInRole(FreedomLogic.Identity.FreedomRole.RoleAdmin);
}

<div class="row">
    <div class="col-md-6">
        @if (viewSensittive)
        {
            <div class="mb-3 row">
                @Html.LabelFor(m => m.Username, htmlAttributes: new { @class = "col-sm-4 col-form-label"})
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.Username, htmlAttributes: new { @readonly = true, @class = "form-control" })
                </div>
            </div>
            <div class="mb-3 row">
                @Html.LabelFor(m => m.RegEmail, htmlAttributes: new { @class = "col-sm-4 col-form-label"})
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.RegEmail, htmlAttributes: new { @readonly = true, @class = "form-control" })
                </div>
            </div>
        }
        <div class="mb-3 row">
            @Html.LabelFor(m => m.DisplayName, htmlAttributes: new { @class = "col-sm-4 col-form-label"})
            <div class="col-sm-8">
                @Html.TextBoxFor(m => m.DisplayName, htmlAttributes: new { @readonly = true, @class = "form-control" })
            </div>
        </div>
        <div class="mb-3 row">
            @Html.LabelFor(m => m.CreationDateTime, htmlAttributes: new { @class = "col-sm-4 col-form-label"})
            <div class="col-sm-8">
                @Html.TextBoxFor(m => m.CreationDateTime, htmlAttributes: new { @readonly = true, @class = "form-control" })
            </div>
        </div>
    </div>
    <div class="col-md-6">
        @if (User.IsInRole(FreedomLogic.Identity.FreedomRole.RoleAdmin))
        {
            <h4 class="p-2 bg-dark mb-0 rounded-top text-white">
                <i class="fa fa-flag me-1"></i>
                Admin Actions
            </h4>
            <div class="p-3 bg-secondary text-dark rounded-bottom" style="--bs-bg-opacity: 0.2">
                <a role="button" href="@Url.Action("SetGameAccess", "Admin", new { id = Model.UserId })" class="btn btn-dark">Change GMLevel</a>

                @using (Html.BeginForm("UnBanAccounts", "Admin", new { userId = Model.UserId }, FormMethod.Post, true, new { @id = "FormSetGameAccess", style = "display:inline;" }))
                {
                    <button type="submit" role="button" class="btn btn-secondary">Unban GameAccounts</button>
                }
                <a role="button" href="@Url.Action("BanAccounts", "Admin", new { id = Model.UserId })" class="btn btn-danger">Ban GameAccounts</a>
            </div>
        }
    </div>
</div>
