@using System.Security.Claims;
@model FreedomWeb.ViewModels.Accounts.ProfileViewModel
@{
    ViewBag.Title = Model.EditProfileViewModel.DisplayName + "'s profile";
    bool isUsersPage = User.FindFirstValue(ClaimTypes.NameIdentifier) == Model.UserId.ToString();
    bool canViewSensitiveData = isUsersPage || User.IsInRole(FreedomLogic.Identity.FreedomRole.RoleAdmin);
}

<div class="row">
    <div class="col-md-12">
        <partial name="_CustomValidationSummary" model="ViewData.ModelState"></partial>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <partial name="EditProfile" model="@Model.EditProfileViewModel"></partial>
    </div>
    <div class="col-md-6">
        @if (User.IsInRole(FreedomLogic.Identity.FreedomRole.RoleAdmin))
        {
            <h4 class="p-2 bg-dark mb-0 rounded-top text-white">
                <i class="fa fa-flag me-1"></i>
                Admin Actions
            </h4>
            <div class="p-3 bg-secondary text-dark rounded-bottom" style="--bs-bg-opacity: 0.2">
                <a role="button" href="@Url.Action("SetGameAccess", "Admin", new { id = Model.UserId })" class="btn btn-dark">Change GMLevel</a>
                @using (Html.BeginForm("UnBanAccounts", "Admin", new { userId = Model.UserId }, FormMethod.Post, true, new { @id = "FormSetGameAccess", style = "display:inline;" }))
                {
                    <button type="submit" role="button" class="btn btn-secondary">Unban GameAccounts</button>
                }
                <a role="button" href="@Url.Action("PasswordReset", "Admin", new { id = Model.UserId })" class="btn btn-warning">Password Reset</a>
                <a role="button" href="@Url.Action("BanAccounts", "Admin", new { id = Model.UserId })" class="btn btn-danger">Ban GameAccounts</a>
            </div>
        }
    </div>
</div>

<div style="margin-top: 2em"></div>

@if (isUsersPage)
{
    <partial name="ChangePassword" model="@Model.ChangePasswordViewModel"></partial>
}
